.container {
    width: 1000px;
    border: 2px solid blue;
    margin: 0;
    padding: 0;
}

.container::before, .container::after {
    content: "";
    display: table;
}

.container::after{
    clear: both;
}

.article {
    width: 600px;
    float: left;
}

.ads {
    float: right;
}
